/*.space-pr {
  position: relative;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}*/

#space-item{
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

#merge-float {
  color: red;
  position:absolute;
  top:0;
  right:0;
}

#thinline {
  border-top: 0.25px solid black;
}
