.space-issues {
  position: relative;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

.space-labels {
  position: relative;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

.readable {
  font-size: 16px !important;
}

.custom-photo {
  height:80px !important;
  width:80px !important;
}
